.info__container {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.5;
}
.info__container * {
  padding: 0;
  margin: 0;
}
.info__container .info__wrapper {
  width: 286px;
  height: 120px;
  border-radius: 20px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.info__container .info__wrapper:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info__wrapper .info__title {
  padding: 5px 0 0 10px;
  height: 33px;
  background: #4983EF;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.info__wrapper .info__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.info__wrapper .info__close:hover {
  cursor: pointer;
}
.info__wrapper .info__body {
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  padding: 0 10px;
}
.info__wrapper .info__body .info__detail {
  margin-top: 8px;
}
.info__wrapper .info__header {
  display: flex;
  justify-content: space-between;
}
.info__wrapper .info__value {
  display: flex;
  justify-content: space-between;
}
.info__wrapper .info__body .info__text {
  font-size: 14px;
}
.info__wrapper .info__body .info__highlight {
  color: #4983EF;
  font-size: 18px;
  font-weight: 700;
}

.info__wrapper:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

